---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__hero--overlay {
  height: 500px;
  position: relative;
  margin-bottom: 2em;
  padding: 3em 0;
  clear: both;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-animation: intro 0.3s both;
  animation: intro 0.3s both;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

blockquote {
  margin: 1em 1em 1em 0;
  padding-left: 1em;
  padding-right: 1em;
  font-style: italic;
  border-left: 0.25em solid #ffffff;
  border-top: 0.25em solid #dbdbdb;
  border-bottom: 0.25em solid #dbdbdb;
}

#main {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  -webkit-animation: intro 0.3s both;
  animation: intro 0.3s both;
  max-width: 100%;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
  width: 1400px;
}

.feature__wrapper {
  clear: both;
  margin-bottom: 2em;
  border-bottom: 1px solid #f2f3f3;
  max-width: 100%;
  width: 1400px;
}
